@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";


.float-button{
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
}
#btnBuscar1{
    position: fixed !important;
    bottom: 65px !important;
    right: 10px !important;
}
